<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330726948327-reh2km2pi1qmrmag61odfpf0pjlv3i8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330726948327-reh2km2pi1qmrmag61odfpf0pjlv3i8s</string>
	<key>API_KEY</key>
	<string>AIzaSyASsKC6ylLG_mCPpD-vWyc64o782M0l4Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>330726948327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MassageRobotics</string>
	<key>PROJECT_ID</key>
	<string>massage-robotics-website</string>
	<key>STORAGE_BUCKET</key>
	<string>massage-robotics-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330726948327:ios:a600f721a4132a9f511142</string>
	<key>DATABASE_URL</key>
	<string>https://massage-robotics-website.firebaseio.com</string>
</dict>
</plist>